.main-image-section {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    letter-spacing: -.05em;
    padding-top: 10px;
    padding-left: 180px;

    .text-title {
        font-size: 60px;
        color: #fff;
    }

    .text-description {
        font-size: 24px;
        width: 600px;
        color: #d5d2da;
    }
}