.filters-container {
    margin-top: 30px;

    .filter-categories {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        gap: 30px;

        .category {
            font-size: 20px;
            font-weight: 500;
            padding: 2px 15px;
            border: 2px solid #000;
            border-radius: 50px;

            &:hover {
                cursor: pointer;
            }
        }

        .active {
            background-color: #000;
            color: #fff;
        }
    }
}