.blog-card-extended {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 50px;

    .comments {
        width: 30%;
        height: 1000px;
    }
}

.main-info {
    width: 70%;
    
    .card-img {
        height: 600px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .card-title {
        padding: 20px 0;
        font-size: 42px;
        font-weight: 700;
    }

    .card-desc {
        font-size: 20px;
        color: #5b5959;
    }
}

.card-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .card-section {
        width: fit-content;
        font-size: 20px;
        font-weight: 700;
        color: #fff;
        padding: 3px 8px;
        border-radius: 50px;
        text-transform: uppercase;
        background-color: #000;
    }

    .card-author {
        font-size: 20px;
        font-weight: 600;
    }
}