$card-height: 450px;
$img-card-height: 250px;

.blog-cards-list {
    display: flex;
    margin-top: 60px;
    margin-bottom: 60px;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 70px;
}

.card-container {
    width: 400px;
    height: $card-height;
    display: flex;
    position: relative;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);

    img {
        height: $img-card-height;
        object-fit: cover;
    }

    .blog-card-text {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 15px;
        height: calc($card-height - $img-card-height);

        .blog-card-title {
            font-size: 24px;
            font-weight: 700;
            padding-top: 20px;
        }

        .blog-card-section {
            width: fit-content;
            font-size: 16px;
            font-weight: 700;
            color: #fff;
            padding: 3px 8px;
            border-radius: 50px;
            text-transform: uppercase;
        }
    }

    &:hover {
        box-shadow: 0px 0px 20px #000
    }
}

.tag-blue {
    background-color: #47bcd4;
}

.tag-purple {
    background-color: #5e76bf;
}

.tag-pink {
    background-color: #cd5b9f;
}

.card-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .favs-icon-container {
        width: 30px;
        height: 30px;
        cursor: pointer;

        img {
            width: 30px;
            height: 30px;
            margin: 0;
        }
    }

    .btn-read-more {
        font-size: 16px;
        text-transform: capitalize;
        color: #000;
    }

    img {
        width: 30px;
        height: 30px;
        margin-left: 5px;
    }
}